body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}

[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

.footer {
  padding-top: 15px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}

.blog-main, .single {
	background-color: #fff;
}

textarea {
	width:97%;
	height:8em;
	padding:3px;
}

#txt {
	height:20em;
}

.article-header {
	margin: 5px 0 40px;
}

.admintitle {height: 30px; background: #337ab7; padding: 5px 0 5px 20px; color: #000; font-weight: bold;}
.admintitle a {color: #fff;}